<div class="industry">
    <h2>Industry</h2>
    <div class="table-responsive">
        <table class="table table-sm table-borderless">
        {% assign news = site.news | reverse %}
        {% for item in news limit: site.news_limit %}
          <tr>
            <th scope="row">{{ item.role }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
            <th scope="row"><i>{{ item.dates }}</i></th>
            <th scope="row"><i class = "fas fa-{{ item.emoji }}"></i></th>
          </tr>
        {% endfor %}
        </table>
    </div>  
</div>